nav {
  background-color: pink;
  width: 70px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 10px;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

img {
  width: 30px;
}

p {
  margin: 0px;
}

.item {
  width: 50px;
}
