# postgresql://<username>:<password>@localhost:5432
POSTGRESQL_ENDPOINT=

# generate a new one by running `openssl rand -base64 32`
SESSION_SECRET=

# LaunchDarkly SDK Key
LAUNCHDARKLY_SDK_KEY=

# Sentry. Leave empty to disable
SENTRY_DSN=

# Bundle analyzer
BUNDLE_ANALYZE="true"
