@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

:root {
  --blue: #81ccf1;
  --yellow: #efc66a;
  --pink: #d8a6cb;
  --dark-pink: #c59ece;
  --purple: #9996cb;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
    to top,
    #9996cb,
    #ab99cc,
    #bb9dcd,
    #caa1cc,
    #d8a6cb
  );
  margin: 0;
  height: 100vh;
}

.container {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  height: 100vh;
}
