@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

:root {
  --blue: #81ccf1;
  --yellow: #efc66a;
  --pink: #d8a6cb;
  --dark-pink: #c59ece;
  --purple: #9996cb;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
    to top,
    #9996cb,
    #ab99cc,
    #bb9dcd,
    #caa1cc,
    #d8a6cb
  );
  margin: 0;
  height: 100vh;
}

.container {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  height: 100vh;
}

.item-1 {
  background: var(--yellow);
  grid-column: 1 / 2;
  grid-row: 5 / 10;
}

.item-2 {
  background: var(--blue);
  grid-column: 1 / 4;
  grid-row: 7 / 9;
  opacity: 50%;
}

.item-3 {
  background: hotpink;
  grid-column: 5 / 8;
  grid-row: 6 / 11;
}

.item-4 {
  border: 4px solid hotpink;
  grid-column: 6 / 9;
  grid-row: 5 / 8;
}

.item-5 {
  border: 4px solid hotpink;
  grid-column: 7 / 10;
  grid-row: 3 / 9;
}

.item-6 {
  font-size: 40px;
  grid-column: 6 / 9;
  grid-row: 3 / 5;
  display: grid;
  justify-items: center;
  align-items: center;
}

.items-6 p {
  margin: 0;
}

.item-7 {
  background: hotpink;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.item-8 {
  font-size: 20px;
  display: grid;
  grid-column-start: 4;
  grid-row: 2 / 4;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  justify-items: center;
  align-items: center;
}
