@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root {
  --blue: #eaf0f8;
}

body {
  margin: 0;
  background: var(--blue);
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-rows: 60px 300px auto auto;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards div {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 30px #000, -10px -10px 30px #fff;
}
